<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VB_produit.My.MySettings.base_produitConnectionString"
            connectionString="Data Source=desktop-9gbhr94;Initial Catalog=&quot;base produit&quot;;User ID=matriix;Password=matriix;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>